<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{>header}} </h1>

    <div class="container">

        <div class="sign container">
            <h1> {{title}} </h1>
            <div class="line"></div>

            <form action="get">
                <input type="text" name="FirstName" placeholder="First Name">
                <input type="text" name="SecondName" placeholder="Second Name">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirmpassword" placeholder="Confirm Password">
                <input type="email" name="email" placeholder="email">
                <div class="gender">
                    {{!-- <label for="gender">Gender: </label> --}}
                    <input type="radio" name="gender"> Male
                    <input type="radio" name="gender"> Female
                </div>
                <button type="submit">Signup</button>
            </form>
        </div>
    </div>

    <p class="dfooter"> {{>footer}} </p>
</body>
</html>