<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">
        <span class="left">
            <a href="/">Home</a>
            <a href="/team">Team</a>
            <a href="/about">About</a>
        </span>
        <span class="right">
            <a href="/signup">Signup</a>
            <a href="/signin">Login</a>
        </span>
    </div>
</body>
</html>